# Project exclude paths
/.gradle/
/build/
/build/classes/kotlin/desktop/main/
/buildSrc/.gradle/
/buildSrc/build/
/desktopDemo/build/
/Postgrest/build/
/Storage/build/
/Realtime/build/
/GoTrue/build/
/Functions/build/
/plugins/ApolloGraphQL/build
/plugins/ComposeAuthUI/build
/plugins/ComposeAuth/build
/serializers/Jackson/build
/serializers/Moshi/build
.idea
local.properties
